body {
    min-height: 100vh;
    /*background: linear-gradient(to bottom right, #e0f7fa, #fce4ec);*/
    background: radial-gradient(circle at center, #2e004f, #000000);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: radial-gradient(circle at center, #2e004f, #000000);*/
    background-image: radial-gradient(circle, rgb(46, 0, 79), rgb(0, 0, 0));
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
    z-index: -1;
}

.login-card {
    width: 100%;
    max-width: 380px;
    padding: 2rem;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-card .icon {
    font-size: 2.5rem;
    color: #2e7d32;
    margin-bottom: 0.8rem;
}

.login-card h4 {
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.form-control {
    height: 40px;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    padding-left: 40px;
    /* để icon không chồng lên chữ */
}

.input-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    font-size: 0.9rem;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}

.btn-login {
    background: linear-gradient(45deg, #43a047, #2e7d32);
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 0.6rem;
    padding: 10px;
    transition: 0.3s;
}

.btn-login:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}

.login-card a {
    font-size: 0.85rem;
    color: #2e7d32;
    text-decoration: none;
}

.login-card a:hover {
    text-decoration: underline;
}